@import url('https://fonts.googleapis.com/css?family=Raleway');

body {
  font-family: Raleway;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.sidebar {
  width: 25%;
}

.sidebar .note-item {
  display: block;
}

.editor {
  margin-left: 25%;
  position: absolute;
  top: 45px;
}

.topbar {
  display: flex;
  align-items: center;
  padding-left: 25px;
  background: #3498db;
  height: 45px;
}
